*{
   box-sizing: border-box;
}
ul, h1, h2, p{
   margin: 0;
   padding: 0;
   margin-block-start: 0;
   margin-block-end: 0;
}
body{
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;   
   margin: 0;  

   --bgc-blue:#34547a;
   --color-text-white:#fff;
   --bgc-gray:#eeeff1;
}
.wraper{
   max-width: 1920px;
   margin: 0 auto;
}

/*main-section*/

.main-section{
   padding-top: 79px;
   padding-left: 400px;
   padding-bottom: 141px;
   background-color: var(--bgc-gray);
}
.menu{
   margin-bottom: 152px;
}
.nav-menu{
   list-style: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.nav-menu-item{
   margin-right: 42px;
}
.nav-menu-item a{
   font-weight: 500;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.1em;
   color: #000;
}
.nav-menu-item:last-child{
   margin-right: 0;
}
.nav-menu-item a:hover{
   color: var(--bgc-blue);
}
.header-title{
   font-weight: 500;
   font-size: 48px;
   line-height: 24px;
   color: #000;
   margin-bottom: 60px;
}
.header-text{
   line-height: 24px;
   color: #727272;
   width: 540px;
   margin-bottom: 65px;
}
.header-btn{
   width: 225px;
   height: 65px;
   background: var(--bgc-blue);
   text-transform: uppercase;
   line-height: 24px;
   letter-spacing: 0.1em;
   text-align: center;
   color: var(--color-text-white);
   border: none;
}
.header-btn:hover{
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*about-section*/

.about-section{
   background-color: var(--color-text-white);
   padding-top: 112px;
   padding-bottom: 100px;
}
.about, .video{
   width: 540px;
   margin: 0 auto;
}
.video{
   padding-bottom: 57px;
   padding-top: 100px;
}
.about-title, .video-title{
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 32px;
   text-align: center;
   color: #000;
   margin-bottom: 50px;
}
.about-text, .video-text{
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: #727272;
}

/*number-section*/

.number-section{
   background: var(--bgc-blue);
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-content: center;
   gap: 45px;
   flex-wrap: wrap;
   padding-top: 100px;
   padding-bottom: 100px;
}

.number-item{
   width: 141px;
}
.number-item-text{
   line-height: 24px;
   color: var(--color-text-white);
   display: inline-block;
   width: 71px;
   height: 44px;
   margin: 0;
   padding-left: 20px;
}
.number-item-text span{
   font-weight: 500;
   font-size: 21px;
   color: var(--color-text-white);
}

/*video-section*/

.video-section{
   background-color: var(--bgc-gray);
   padding-bottom: 100px;
}
.video-box{
   width: 1110px;
   height: 600px;
   margin: 0 auto;
}
.iframe{
   width: 1110px;
   height: 600px;
}

/*footer*/

.footer{
   padding-left: 406px;
   background: var(--bgc-blue);
   padding-top: 50px;
   padding-bottom: 50px;
}
.footer-name{
   font-weight: 500;
   font-size: 21px;
   color: var(--color-text-white);
   margin-bottom: 20px;
}
.copyright{
   font-size: 13px;
   line-height: 24px;
   color: var(--color-text-white);
}
.hamburger-menu{
   display: none;
}

/*Adaptive*/

@media (max-width: 1320px) {
   .wraper {
     width: 100%;
     margin: 0 auto;
   }
   .main-section{
      padding-left: 0px;    
   }
   .nav-menu{
      justify-content: center;
   }
   .header{
      text-align: center;
   }
   .header-text{
      margin: 0 auto;
      margin-bottom: 65px;
   }
   .number-section{
      gap: 15px;
   }
   .video-box{
      width: 910px;
      height: 500px;
      margin: 0 auto;
   }
   .iframe{
      width: 910px;
      height: 500px;
   }
   .footer{
      padding-left: 150px;
   }
 }

 @media (max-width: 983px) {
   .wraper {
      width: 100%;
      margin: 0 auto;
    }
   .number-item{
      width: 212px;
      text-align: center;  
   }
   .number-section{
      gap: 35px;
      padding-top: 50px; 
      padding-bottom: 50px ;
   }
    .video-box{
      width: 660px;
      height: 370px;
      margin: 0 auto;
   }

   .iframe{
      width: 660px;
      height: 370px;
   }
   .footer{
      text-align: center;
      padding-left: 0;
   }
 }
 
@media (max-width: 768px) {
   .wraper {
      width: 100%;
      margin: 0 auto;
    }
    .number-section{
      flex-direction: row;
   }
   .video-box{
      width: 600px;
      height: 340px;
      margin: 0 auto;
   }
   .iframe{
      width: 600px;
      height: 340px;
   }
   .footer{
      padding: 20px;
      text-align: center;
   }
   .footer-name{
      font-size: 14px;
   }
   .copyright{
      font-size: 8px;
   }
}
  
 @media (max-width: 677px) {
   .wraper {
     width: 100%;
   }
   .menu{
      margin-bottom: 50px;
   }

/*Mobile menu*/

   .hamburger-menu{
      display: block;
      position: fixed;
      background-color: lightblue;
      top: 0;
      left: 0;
      width: 100%;
      height: 40px;
    }

   #menu-toggle {
      opacity: 0;
   }
   .menu-btn {
      display: flex; 
      align-items: center;
      position: fixed;
      top: 5px;
      left: 30px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      z-index: 1;
    }

   .menu-btn > span, .menu-btn > span::before, .menu-btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
   }
   .menu-btn > span::before {
      content: '';
      top: -8px;
   }
   .menu-btn > span::after {
      content: '';
      top: 8px;
   }
   .nav-menu {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 30px 0;
      list-style: none;
      text-align: center;
      background-color: #ECEFF1;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
   }
   .nav-menu-item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      margin-right: 0;
   }
   .nav-menu-item:hover {
      background-color: #CFD8DC;
   }
   #menu-toggle:checked ~ .menu-btn > span {
      transform: rotate(45deg);
   }
   #menu-toggle:checked ~ .menu-btn > span::before {
      top: 0;
      transform: rotate(0);
   }
   #menu-toggle:checked ~ .menu-btn > span::after {
      top: 0;
      transform: rotate(90deg);
   }
   #menu-toggle:checked ~ .nav-menu {
      visibility: visible;
      left: 0;
   }
/*end mobile menu*/

   .main-section, .about-section, .video-section{
      padding-top: 40px;
      padding-bottom: 60px;
      }
   .header-title{
      font-size: 32px;
      margin-bottom: 35px;
   }
   .header-text{
      width: 340px;
      margin-bottom: 35px;
   }
   .header-btn{
      width: 160px;
      height: 50px;
   }
   .about-title, .video-title{
      font-size: 24px;
   }
   .number-section{
      flex-direction: row;
   }
   .about, .video{
      width: 95%;
   }
   .video{
      padding-top: 0;
   }
   .video-box{
      width: 320px;
      height: 170px;
      margin: 0 auto;
     
   }
   .iframe{
      width: 320px;
      height: 170px;
   }
   .footer{
      text-align: center;
   }
   .footer-name{
      font-size: 12px;
      margin-bottom: 5px;
   }
   .copyright{
      font-size: 8px;
   }
 }

 